.page {
  padding: 10px;
}

.title {
  font-size: 11.5vw;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: -0.5vw;
  color: #333;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 20vw;
  }
}

.gallery {
  --gallery-columns: 5;
  --gallery-spacing: 10px;
  display: grid;
  grid-template-columns: repeat(var(--gallery-columns), 1fr);
  gap: var(--gallery-spacing);
  margin: 10px auto 50px;
}

@media screen and (max-width: 600px) {
  .gallery {
    --gallery-columns: 3;
  }
}

.gallery img {
  width: 100%;
  border-radius: 2px;
}

.photoContainer {
  position: relative;
}

.info {
  font-size: 12px;
  font-family: var(--font-mono);
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.details,
.date {
  font-size: 12px;
  font-family: var(--font-mono);
  font-weight: 900;
  color: #000;
  text-transform: uppercase;

  position: absolute;
  left: 10px;
}

.date {
  position: absolute;
  top: 10px;
}

.details {
  font-size: 12px;
  bottom: 10px;
}
